@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: #010615;
  color: #fff;
  width: 100vw;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
}

img {
  display: block;
}

.logo {
  position: relative;
  height: 40vh;
}
@media screen and (max-width:760px) {
  .logo{
    height: 20vh;
  }
}

.logo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding: 3rem 2rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: ani 10s linear infinite;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@media only screen and (max-width: 768px) {
  .logo h1 {
    font-size: 2rem;
  }
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.searchEntry {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
}

.searchEntry .searchBar {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #e6e6e6;
  border-radius: 500px;
  padding: 0.15rem 0.25rem 0.15rem 0.75rem;
}

@media only screen and (min-width: 768px) {
  .searchEntry .searchBar {
    width: 80vw;
    padding: 1.25rem 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .searchEntry .searchBar {
    width: 60vw;
  }
}

.searchEntry .searchBar input[type="text"] {
  flex-grow: 1;
  font-size: 0.75rem;
  text-align: left;
  letter-spacing: 0.1rem;
  border: 0;
  outline: none;
  min-width: 150px;
  padding: .6rem .5rem;
}

@media only screen and (min-width: 768px) {
  .searchEntry .searchBar input[type="text"] {
    font-size: 1.25rem;
  }
}

.searchEntry .searchBar .button {
  cursor: pointer;
  border: 0;
  background: transparent;
  min-width: 48px;
  min-height: 48px;
  outline: none;
}

.searchEntry .searchBar .button i {
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .searchEntry .searchBar .button i {
    font-size: 1.5rem;
  }
}

.searchEntry .searchBar .button:hover i, .searchEntry .searchBar .button:focus i {
  padding-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.searchEntry .searchBar .searchButton:hover i, .searchEntry .searchBar .searchButton:focus i {
  color: #3cba54;
}

.searchEntry .searchBar .clear:hover i, .searchEntry .searchBar .clear:focus i {
  color: #db3236;
}

@media only screen and (min-width: 768px) {
  .searchEntry .searchBar .searchButton {
    padding-left: 1rem;
  }
}

.searchEntry .searchBar .clear {
  align-items: center;
  color: #70757a;
  border-right: thin solid #d9d9d9;
}

@media only screen and (min-width: 768px) {
  .searchEntry .searchBar .clear {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .searchEntry .searchBar .clear {
    padding-left: .75rem;
  }
}

.results .statsBar {
  width: 100%;
}

.results .statsBar .stats {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .results .statsBar .stats {
    font-size: 1rem;
  }
}

#searchResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#searchResults .resdiv {
  width: 40vw;
  height: auto;
  padding: 3rem 2rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-1 {
  border: 5px solid;
  border-image: linear-gradient(235deg, #ff005e, #010615, #fbff00) 1;
}

.box-1:nth-child(odd) {
  border-image: linear-gradient(235deg, #89ff00, #010615, #00bcd4) 1;
}

.resdiv a {
  text-decoration: none;
  color: #fff;
}

.resdiv h3 {
  color: #fff;
  text-align: center;
  margin-bottom: .4rem;
  font-size: 2rem;
}

.resdiv p::first-letter {
  font-weight: bold;
  font-size: 2rem;
}

.resdiv .img {
  width: 50px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  #searchResults {
    display: block;
  }

  #searchResults .resdiv {
    width: 60vw;
    padding: 0.4rem;
  }

  .resdiv h3 {
    font-size: 1rem;
  }

  .resdiv p {
    font-size: .8rem;
  }
}

footer {
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}
